.shiny-text {
  color: transparent;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.64) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(0, 0, 0, 0.64) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  from {
    background-position: 200% center;
  }
  to {
    background-position: -200% center;
  }
}

.shiny-text.disabled {
  animation: none;
}